* {
  box-sizing: border-box;
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}
.theme-btn{
  margin-left: 725px;
}

#switch-container{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

input[type=checkbox]{
	height: 0;
	width: 0;
  visibility: hidden;
}

.switch-btn {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
  position: relative;
}

.switch-btn:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	transition: 0.3s;
}

input:checked + .switch-btn {
	background: #6DB65B; 
}

input:checked + .switch-btn:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.switch-btn:active:after {
	width: 40px;
}



@media only screen and (max-width: 799px) {
  
.grid-container {
	margin-bottom: 100px;
	justify-content: center;
}
#btn-bottom{
  margin-bottom: 7rem;
}
#switch-container{
	margin-bottom: 0;
  }
}
